<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owner</h2>
<form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <!-- The [] will allow you to:
            Get a property, if the object is a bean (has getters and setters):
            ${car['type']}
            This will be equivalent to car.getType(); (or car.isType() if the type field is a boolean).

            Get a key's value, if the object is a Map:
            ${carMap['Volvo']}

            This will be equivalent to carMap.get('Volvo'); when carMap is a Map.
            Get an index, if the object is an array or List:
            ${cars[1]}

            This is equivalent to cars[1] if cars is an array or equivalent to cars.get(1) if cars is a List.> -->
            <button th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
                class="btn btn-default" type="submit" th:text="${text}">
                Add Owner</button>
        </div>
      </div>
    </form>
  </body>
  </html>
